@import './minix.scss';
@import './reset.scss';
@import './transition.scss';

$fontsize: 37.5;

@function px2rem($px) {
    @return ($px / $fontsize) + rem;
}

@font-face {
    font-family: "凌云行书";
    src: url("./fonts/FZSJ-LINGYXS.TTF");
}
